.message {
	max-width: 70%;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.message-date {
	text-align: right;
	font-size: 12px;
}

.message-sent .message-date {
	color: #c9c9c9;
}

.message-received .message-date {
	color: #505050;
}

.message-sent {
	align-self: flex-start;
	text-align: left;
	background-color: #8339fa;
	border: 1px solid #ab9ffc;
	border-top-left-radius: 0;
	color: #fff;
}

.message-received {
	align-self: flex-end;
	text-align: right;
	background-color: #c9ffe5;
	border: 1px solid #4efca8;
	border-top-right-radius: 0;
}

@media screen and (max-width: 640px) {
	.message {
		max-width: 80%;
		font-size: 14px;
		border-radius: 15px;
		border-top-left-radius: 0;
	}

	.message-sent {
		border-top-left-radius: 0;
	}

	.message-received {
		border-top-right-radius: 0;
	}

	.message-date {
		font-size: 10px;
	}
}