.chat {
	display: flex;
	flex-direction: column;
	background-color: #def3ff;
	width: 70%;
	height: 90vh;
	max-height: 90vh;


}

.chat-list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
}

@media screen and (max-width: 1024px) {
	.chat {
		width: 100%;
	}
}