.contacts {
	width: 30%;
	background-color: #178fd4;
	color: #fff;
}

.contacts .contacts-list {
	margin: 20px;
	list-style: none;
}

.contacts .contacts-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
	line-height: 30px;
	cursor: pointer;
}

.contacts .contacts-item.contacts-item-unread::after {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url("./assets/message.png");
	background-size: 30px;
	cursor: pointer;
}

.contacts .contacts-header {
	width: 100%;
	background: #000080;
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding: 20px 0 20px;
}

.contacts-logout {
	margin-left: 15px;
	color: #c0c0c0;
	text-align: right;
	font-size: 14px;	
	cursor: pointer;
}

.contacts-loader {
	width: 60px;
	height: 60px;
	margin: 60px auto;
	background-image: url("./assets/1495.gif");
	background-size: 60px;
}

@media screen and (max-width: 640px) {
	.contacts--mobile-hidden {
		display: none;
	}

	.contacts {
		width: 100%;
	}

	.contacts-header {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.contacts-forward {
		content: "";
		width: 40px;
		height: 40px;
		display: block;
		background-image: url("./assets/right.png");
		background-size: 40px;
		margin-right: 20px;
		cursor: pointer;
	}

	.contacts-title {
		flex-grow: 1;
	}
}